# {{ ansible_managed }}

local {{ openvpn_address }}

mode server

# SSL/TLS root certificate (ca), certificate (cert), and private key (key).
# Each client and the server must have their own cert and key file.  The server
# and all clients will use the same ca file.
#
# See the "easy-rsa" directory for a series of scripts for generating RSA
# certificates and private keys.  Remember to use a unique Common Name for the
# server and each of the client certificates.
#
# Any X509 key management system can be used. OpenVPN can also use a PKCS #12
# formatted key file (see "pkcs12" directive in man page).
tls-server
ca {{ openvpn_ca_crt_path }}
cert {{ openvpn_crt_path }}
key {{ openvpn_key_path }}  # This file should be kept secret

# Diffie hellman parameters. Generate your own with: openssl dhparam -out
# dh1024.pem 1024 Substitute 2048 for 1024 if you are using 2048 bit keys.
dh {{ openvpn_dh_param_path }}

# Client configuration directory.
{% if openvpn_ccd is defined -%}
client-config-dir {{ openvpn_ccd }}
{% endif %}


dev {{ openvpn_server_dev }}
port {{ openvpn_port }}

proto {{ openvpn_server_proto }}

# Which VPN topology to use? (net30, subnet, p2p)
{% if openvpn_topology is defined -%}
topology {{ openvpn_topology }}
push "topology {{ openvpn_topology }}"
{% endif %}

# Encrypt packets with cipher algorithm
cipher {{ openvpn_cipher }}


user {{ openvpn_user }}
group {{ openvpn_group }}

log-append  {{ openvpn_log }}

# The persist options will try to avoid accessing certain resources on restart
# that may no longer be accessible because of the privilege downgrade.
persist-key
persist-tun

ifconfig {{ openvpn_gateway }}
ifconfig-pool {{ openvpn_ip_pool }}
ifconfig-pool-persist ipp.txt

{% if openvpn_keepalive != '' %}
keepalive {{ openvpn_keepalive }}
ping-timer-rem
{% endif %}

status {{ openvpn_status }}

verb {{ openvpn_verb }}

{% if openvpn_comp_lzo -%}
comp-lzo
{% else -%}
;comp-lzo
{% endif %}

push "route-gateway {{ openvpn_gateway.split(' ')[0] }}"

{% for dns in openvpn_dns_servers %}
push "dhcp-option DNS {{ dns }}"
{% endfor %}

{% for push_route in openvpn_route_ranges %}
push "route {{ push_route }}"
{% endfor %}
